<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <title>Element 5</title>
</head>
<body>
  <div class="team">
    <div class="container">
      <div class="team_inner">
          <h2 class="team_tittle">TEAM</h2>
          <div class="team_line"></div>
          <p class="team-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo, ipsum a quisquam repudiandae sit blanditiis odio repellendus dolorem facilis dolores tempora numquam pariatur est quasi eos necessitatibus molestias. Corporis repellat assumenda aperiam molestiae nostrum qui consequatur expedita vero voluptatum accusamus animi, ratione sequi aut, in cum pariatur impedit facilis.</p>
      </div>
      <div class="cards">
         <div class="item">
            <img src="img/team1.png" alt="" class="item_img">
            <h3 class="item-tittle">Name</h3>
            <p class="item-text">Lead Developer</p>
           <div class="icons">
              <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="item">
          <img src="img/team2.png" alt="" class="item_img">
          <h3 class="item-tittle">Name</h3>
          <p class="item-text">Lead Developer</p>
          <div class="icons">
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="item">
          <img src="img/team3.png" alt="" class="item_img">
          <h3 class="item-tittle">Name</h3>
          <p class="item-text">Lead Developer</p>
          <div class="icons">
            <a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="item">
          <img src="img/team4.png" alt="" class="item_img">
          <h3 class="item-tittle">Name</h3>
          <p class="item-text">Lead Developer</p>
          <div class="icons">
            <a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>